.cont {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-top: 7.813rem;
  height: 1000px;

  .images {
    position: absolute;

    img {
      object-fit: cover;
    }

    &:nth-of-type(1) {
      height: clamp(13.8125rem, 4.0469rem + 48.8281vw, 52.875rem);
      width: clamp(9.25rem, 2.75rem + 32.5vw, 35.25rem);
      z-index: 1;
      filter: grayscale(1);
      transition: all 0.2s linear;
    }

    &:nth-of-type(2) {
      left: -146px;
      top: 460px;
      height: clamp(9.25rem, 2.75rem + 32.5vw, 35.25rem);
      width: clamp(6.125rem, 1.7813rem + 21.7188vw, 23.5rem);
      z-index: 2;
      filter: grayscale(1);
      transition: all 0.2s linear;
    }

    &:nth-of-type(3) {
      right: -146px;
      top: 376px;
      height: clamp(9.25rem, 2.75rem + 32.5vw, 35.25rem);
      width: clamp(6.125rem, 1.7813rem + 21.7188vw, 23.5rem);
      z-index: 3;
      filter: grayscale(1);
      transition: all 0.2s linear;
    }

    &:nth-child(1):hover, &:nth-child(2):hover, &:nth-child(3):hover {
      filter: grayscale(0);
    }
  }
}

@media (max-width: 1400px) {
  .cont {
    height: 800px;
    margin-top: 7.813rem;

    .images {
      &:nth-of-type(2) {
        top: 300px;
        left: -100px;
      }

      &:nth-of-type(3) {
        top: 300px;
        right: -100px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .cont {
    height: 700px;
    margin-top: 7.813rem;

    .images {
      &:nth-of-type(2) {
        top: 300px;
        left: -20px;
      }

      &:nth-of-type(3) {
        top: 300px;
        right: -20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .cont {
    height: 600px;
    margin-top: 5.961rem;

    .images {
      &:nth-of-type(2) {
        top: 300px;
        left: 20px;
      }

      &:nth-of-type(3) {
        top: 300px;
        right: 20px;
      }
    }
  }
}

@media (max-width: 800px) {
  .cont {
    height: 500px;
    margin-top: 5.961rem;

    .images {
      &:nth-of-type(2) {
        top: 300px;
        left: 80px;
      }

      &:nth-of-type(3) {
        top: 300px;
        right: 80px;
      }
    }
  }
}

@media (max-width: 600px) {
  .cont {
    height: 400px;
    margin-top: 4.769rem;

    .images {
      &:nth-of-type(2) {
        top: 250px;
        left: 60px;
      }

      &:nth-of-type(3) {
        top: 250px;
        right: 60px;
      }
    }
  }
}

@media (max-width: 400px) {
  .cont {
    height: 280px;
    margin-top: 4.769rem;

    .images {
      &:nth-of-type(2) {
        top: 200px;
        left: 20px;
      }

      &:nth-of-type(3) {
        top: 200px;
        right: 20px;
      }
    }
  }
}