.about {
  position: relative;

  .shadow4 {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 50%;

    background: linear-gradient(90deg, rgba(0, 3, 5), transparent 50%, transparent 100%);
  }

  .shadow5 {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    width: 50%;

    background: linear-gradient(270deg, rgba(0, 3, 5), transparent 50%, transparent 100%);
  }
}

.target {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 1.5rem;
  background: var(--grad);
  pointer-events: none;
  position: fixed;
}