@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');

.paragraph {
  font-family: 'pontano sans', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 124%;
  letter-spacing: 1px;
  color: var(--font-p);
  margin: 1.375rem 0 1.375rem 0;

  max-width: 760px;
}

@media (max-width: 500px) {
  .paragraph {
    font-size: 1rem;
  }
}