.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3.25rem 5rem;
  width: 100%;

  border-bottom: 1px solid var(--font-sub);
  color: var(--font-dimm);

  cursor: pointer;
  transition: all 0.2s linear;

  h2 {
    font-size: 4rem;
    line-height: 120%;
    text-overflow: ellipsis;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
  }

  svg path:nth-child(1) {
    transition: all 0.2s linear;
  }
}

.cont:hover {
  color: var(--font);
  border-bottom: .25rem solid var(--font);
}

.cont:hover > svg path:nth-child(1) {
  fill: var(--font);
}