.root {
  width: 100%;

  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto 0 auto;
  
    padding: 4rem 4rem 0 4rem;
  
    width: 100%;
  
    .heading {
      .h1 {
        position: relative;
  
        // font-size: 17.25vh; /* 12.5rem - 18.5vh | 11.625rem - 17.25vh */
        font-size: clamp(2.44125rem, 0.1453rem + 11.4797vw, 11.625rem);
        line-height: 100%;
  
        .shadow1 {
          position: absolute;
          top: 0;
          left: 0;
  
          background: linear-gradient(90deg, rgba(0, 3, 5, 0.8), transparent 50%, transparent 100%);
          height: 112%;
          width: 50%;
        }
        .shadow2 {
          position: absolute;
          top: 0;
          right: 0;
  
          background: linear-gradient(270deg, rgba(0, 3, 5, 0.8), transparent 50%, transparent 100%);
          height: 112%;
          width: 50%;
        }
      }
    
      .p {
        position: relative;
  
        color: var(--font-sub);
        // font-size: 3rem;
        font-size: clamp(1.25rem, 0.7995rem + 2.2523vw, 3.051875rem);
        margin-top: 2rem;
  
        .shadow3 {
          position: absolute;
          top: 0;
          left: 0;
  
          background: linear-gradient(90deg, rgba(0, 3, 5, 0.7), transparent 25%, transparent 100%);
          height: 100%;
          width: 50%;
        }
      }
    }
  
    .social {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      min-width: 100%;
      margin: 4rem auto 0 auto;
  
      .left {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 12rem;
  
        .cyber {
          position: relative;

          .cimg {
            width: clamp(7.5rem, 3.9688rem + 17.6563vw, 21.625rem);
          }

          .shadow6 {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(90deg, rgba(0, 3, 5, 1), transparent 50%, transparent 100%);
          }
        }
  
        .cont {
          display: flex;
          align-items: start;
          justify-content: center;
          gap: 4rem;
  
          height: 530px;
  
          div {
            position: relative;
  
            .span {
              // font-size: 3.75rem;
              font-size: clamp(1.953125rem, 1.4877rem + 2.3273vw, 3.815rem);
              color: #DCDEDF;
            }
  
            p {
              // font-size: 1.25rem;
              font-size: clamp(0.64rem, 0.6875rem + 0.5625vw, 1.25rem);
              line-height: 100%;
              color: #C2C4C7;
            }
  
            p:nth-child(2) {
              margin-top: .75rem;
            }
  
            p:nth-child(3) {
              margin-top: .5rem;
            }
          }
        }
      }
  
      // .right{
  
      // }
    }
  }
}

@media (max-width: 800px) {
  .root {
    .hero {
      padding: 0 1.25rem 0 1.25rem;

      .heading {
        margin-top: 120px;

        .p {
          margin-top: 1rem;
        }
      }

      .social {
        .left {
          .cont {
            gap: 0.75rem;

            div {
              p:nth-child(2) {
                margin-top: .5rem;
              }
    
              p:nth-child(3) {
                margin-top: .25rem;
              }
            }
          }
        }
      }
    }
  }
}