.introduction{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: var(--bg-light);

  p{
    display: flex;
    color: var(--font-dark);
    font-size: 5vh;
    align-items: center;
    position: absolute;
    z-index: 1;
  }
}