.slide {
  display: flex;
  position: relative;
  white-space: nowrap;
}

.phrase {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem 0 1.25rem;
  gap: 1.25rem;

  .text {
    font-size: clamp(1.953125rem, 0.5786rem + 6.8726vw, 7.451171875rem);
  }

  .span {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 4.75rem 0 4.75rem;

    .circle {
      width: 3.5rem;
      height: 3.5rem;
    }

    .square {
      width: 3.5rem;
      height: 3.5rem;
    }

    .hexagon {
      width: 4.25rem;
      height: 4.25rem;
    }
  }
}

@media (max-width: 1200px) {
  .phrase {
    .span {
      padding: 0 2rem 0 2rem;

      .circle {
        width: 3rem;
        height: 3rem;
      }

      .square {
        width: 3rem;
        height: 3rem;
      }

      .hexagon {
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .phrase {
    .span {
      padding: 0 1rem 0 1rem;

      .circle {
        width: 2rem;
        height: 2rem;
      }

      .square {
        width: 2rem;
        height: 2rem;
      }

      .hexagon {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .phrase {
    .span {
      padding: 0 0 0 0;

      .circle {
        width: 1rem;
        height: 1rem;
      }

      .square {
        width: 1rem;
        height: 1rem;
      }

      .hexagon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}